<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqFTnUZhP5BoG2JeY2fYo2ypFduthqT_VQNQ&usqp=CAU"
      alt=""
      height="200px"
      >
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
        <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget odio euismod, elementum enim eget,
        vestibulum augue. Nunc magna quam, mollis vitae ex a, congue bibendum ipsum. Maecenas eget fermentum massa.
        Duis quam lorem, ullamcorper nec porta sed, dignissim nec ante. Pellentesque iaculis lectus ligula, sed maximus
        nulla pharetra ac. Praesent quis fermentum purus, quis eleifend purus. Vestibulum sit amet consectetur augue.
        </a>
    </p>
  </div>
</div>
